.car_type img :hover {
    width: 500px;
}
.btn-search {
    width: 30%;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    line-height: 44px;
    color: #1A79FF;
    border: 1px solid #1A79FF;
    background-color: #fff;
    border-radius: 25px;
}
.search_area * {
    outline: none;
}
.car-search-style {
    min-height: 10vh;
    margin-top: 40px;
    padding-top: 20px;
    z-index: 1;
    -webkit-box-shadow: -4px 16px 46px -2px rgba(212, 217, 219, 1);
    -moz-box-shadow: -4px 16px 46px -2px rgba(212, 217, 219, 1);
    box-shadow: -4px 16px 46px -2px rgba(212, 217, 219, 1);
}
button:focus {
    outline: none;
    box-shadow: none;
}


.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs .nav-link {
    border-top: 1px solid #1A79FF;
    border-left: 1px solid #1A79FF;
    border-right: 1px solid #1A79FF;
    border-bottom: 1px solid #1A79FF;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: white;
    font-family: 'Kanit', sans-serif;
    min-width: 100px;
    text-align: center;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #1A79FF;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: #1A79FF;
    border-color: #1A79FF;
    font-family: 'Kanit', sans-serif;
}

.car-dealer-btn-type {
    position: absolute;
    right: 10%;
    top: 5%;
    z-index: 1;
}

[dir=ltr] .status-badge--has-icon .status-badge__text {
    padding-left: 10px;
}
